<ul [ngSwitch]="username">
    <li *ngSwitchCase="'user'">
        <p>User is logging....</p>
    </li>
    <li *ngSwitchCase="'admin'">
        <p>Admin is logging....</p>
        <app-home></app-home>
    </li>

    <li *ngSwitchDefault>
        <p>Please enter your username</p>
    </li>
</ul>

<p appHighLight>App Highlight</p>
<p appHighLight="white">App HighLight with static value</p>
<p [appHighLight]="color">App HighLight with value is set by attribute of component</p>

<p>Global number: {{counter}}</p>
<p>Number square: {{squareCounter(counter)}}</p>
