
<h2>First Component</h2>

<nav>
  <ul>
    <li><a routerLink="search">Search</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>


<div class="test">
    <p> This is home component!</p>
    <div>Choose the city:
        <select name="cities"  id="cities" (change)="cityChanged($event)">
            <option  *ngFor="let data of datas; let i = index" value="{{data.city}}">{{data.city}}</option>
        </select>
    </div>
    <div>Choose the district:
        <select name="districts"  id="districts">
            <option  *ngFor="let district of districts; let i = index" value="{{district}}">{{district}}</option>
        </select>
    </div>
</div>

<div>
    
</div>