<div class="test">
    <p> This is home component!</p>
    <h1>This is string array</h1>
    <table>
        <th>Order</th>
        <th>Name</th>
        <tr *ngFor="let fruit of fruits; let i=index">
            <td>{{i+1}}</td>
            <td>{{fruit | uppercase}}</td>
        </tr>
    </table>

    <h2>This is object array</h2>
    <table>
        <th>Order</th>
        <th>Name</th>
        <th>Price</th>
        <th>Sale</th>
        <tr *ngFor="let fruit of fruits2; let i = index">
            <td>{{i+1}}</td>
            <td>{{fruit.name}}</td>
            <td>
                <span [ngClass]="{'negative-number': fruit.price < 0}">{{fruit.price | currency: 'USD': 'symbol': '1.2'}}</span>
            </td>
            <!-- <td>
                <span *ngIf="fruit.isSale === true">Up sale</span>
            </td> -->

            <td>
                <span> {{fruit.isSale | pipecustom : 'test' : 'symbol': 'test-symbol'}}</span>
            </td>
        </tr>
    </table>

</div>